/* Cor de fundo do body deve ser o mesmo do lado direito */

body {
    overflow: hidden;
    color: white;
}

.h100c {
  height: calc(100vh - 23px);
}

.borderc {
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
}

.cardsc {
  width: 90px;
  height: 130px;
  background-color: #343a40;
}

/* Responsividade para telas menores que 992px */

@media (max-width: 992px) {
  .h100c {
    height: calc(50vh - 23px);;
  }

  .h40-1 {
    height: calc(40vh - 23px);
  }

  .h60-2 {
    height: calc(60vh - 23px);
  }
  
  .borderc {
    border-radius: 0%;
  }
}